/* GENERAL */

* {
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER */

nav {
    height: 100px;
    background-color: #e579e6;
    margin-bottom: 20px;
}

#header_content {
    height: 400px; 
    background-color: #e1d67a;
    margin-bottom: 20px;
}